
body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://media.istockphoto.com/photos/abstract-background-wallpaper-picture-id952039286?b=1&k=20&m=952039286&s=170667a&w=0&h=LmOcMt7FHxFUAr2bOSfTUPV9sQhME6ABtAYLM0cMkR4=");
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white 
  }
  
h2 {
      text-align: left;
  }

ul {
    text-align: left;
}

ol {
    text-align: left;
}

  
